<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="../layout/header :: html_head"/>
    <body>
        <div th:replace="../layout/header :: html_nav"/>

        <section class="container" th:with="action='/quanan/admin/addorupdatefood'">
            <form method="post" th:action="${action}" th:object="${food}">
                <input type="hidden" name="id" th:value="*{id}"/>
                <input type="hidden" name="createdDate" th:value="*{createdDate}"/>
                <div class="form-floating mb-3 mt-3">
                    <input type="text" id="name" class="form-control" name="name" th:value="*{name}" placeholder="Nhập tên món ăn"/>
                    <label for="name">Tên món ăn</label>
                </div>
                <div class="form-floating mb-3 mt-3">
                    <input type="number" id="soLuong" class="form-control" name="soLuong" th:value="*{soLuong}" placeholder="Nhập số lượng"/>
                    <label for="soLuong">Số lượng</label>
                </div>
                <div class="form-floating mb-3 mt-3">
                    <input type="number" id="price" class="form-control" name="price" th:value="*{price}" placeholder="Nhập giá"/>
                    <label for="price">Giá</label>
                </div>
                <div class="form-floating mb-3 mt-3">
                    <select id="idChiNhanh" name="idChiNhanh" th:field="*{idChiNhanh}" class="form-select">
                        <option th:each="cn : ${cns}" th:value="${cn.id}" th:text="${cn.diaChi}"></option>
                    </select>
                    <label for="idChiNhanh">Chi nhánh</label>
                </div>
                <div class="form-floating mb-3 mt-3">
                    <select id="idLoai" name="idLoai" th:field="*{idLoai}" class="form-select">
                        <option th:each="c : ${cates}" th:value="${c.id}" th:text="${c.name}"></option>
                    </select>
                    <label for="idLoai">Loại đồ ăn</label>
                </div>
                <div class="form-floating mb-3 mt-3">
                    <input type="text" id="image" class="form-control" name="image" th:value="*{image}" placeholder="Nhập ảnh"/>
                    <label for="image">Ảnh</label>
                </div>
                <div class="form-floating mb-3 mt-3">
                    <button type="submit" class="btn btn-info" th:if="${cns.id != null}"> Cập nhật</button>
                    <button type="submit" class="btn btn-info" th:if="${cns.id == null}"> Thêm</button>
                </div>
            </form>
        </section>

        <footer th:replace="../layout/footer :: html_footer"/>
    </body>
</html>
