<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="../layout/header :: html_head"/>
    <body>
        <div th:replace="../layout/header :: html_nav"/>

        <section class="container" th:with="action='/quanan/admin/addorupdatenguoidung'">
            <form method="post" th:action="${action}" th:object="${nd}" enctype="multipart/form-data">
                <p th:if="${#fields.hasErrors('*')}" th:errorclass="text-danger" th:errors="*{*}" />
                <input type="hidden" name="id" th:value="*{id}"/>
                <input type="hidden" name="avatar" th:value="*{avatar}"/>
                <input type="hidden" name="active" th:value="*{active}"/>
                <input type="hidden" name="loaiNguoiDung" th:value="*{loaiNguoiDung}"/>
                <div class="form-floating mb-3 mt-3" th:if="${nd.id != null}">
                    <input type="hidden" name="taiKhoan" th:value="*{taiKhoan}"/>
                </div>
                <div class="form-floating mb-3 mt-3" th:if="${nd.id == null}">
                    <input type="text" id="taiKhoan" class="form-control" name="taiKhoan" th:value="*{taiKhoan}" placeholder="Nhập tài khoản" required/>
                    <label for="taiKhoan">Tài khoản</label>
                    <p th:if="${#fields.hasErrors('taiKhoan')}" th:errorclass="text-danger" th:errors="*{taiKhoan}" />
                </div>
                <div class="form-floating mb-3 mt-3">
                    <input type="text" id="lastName" class="form-control" name="lastName" th:value="*{lastName}" placeholder="Nhập họ" required/>
                    <label for="lastName">Họ</label>
                    <p th:if="${#fields.hasErrors('lastName')}" th:errorclass="text-danger" th:errors="*{lastName}" />
                </div>
                <div class="form-floating mb-3 mt-3">
                    <input type="text" id="firstName" class="form-control" name="firstName" th:value="*{firstName}" placeholder="Nhập tên" required/>
                    <label for="firstName">Tên</label>
                    <p th:if="${#fields.hasErrors('firstName')}" th:errorclass="text-danger" th:errors="*{firstName}" />
                </div>
                <div class="form-floating mb-3 mt-3">
                    <input type="password" id="matKhau" class="form-control" name="matKhau" th:value="*{matKhau}" placeholder="Nhập mật khẩu" required/>
                    <label for="matKhau">Mật khẩu</label>
                    <p th:if="${#fields.hasErrors('matKhau')}" th:errorclass="text-danger" th:errors="*{matKhau}" />
                </div>
                <div class="form-floating mb-3 mt-3">
                    <input type="email" id="email" class="form-control" name="email" th:value="*{email}" placeholder="Nhập email" required/>
                    <label for="email">Email</label>
                    <p th:if="${#fields.hasErrors('email')}" th:errorclass="text-danger" th:errors="*{email}" />
                </div>
                <div class="form-floating mb-3 mt-3">
                    <input type="text" id="phone" class="form-control" name="phone" th:value="*{phone}" placeholder="Nhập số điện thoại"/>
                    <label for="phone">Số điện thoại</label>
                    <p th:if="${#fields.hasErrors('phone')}" th:errorclass="text-danger" th:errors="*{phone}" />
                </div>
                <div class="form-floating mb-3 mt-3">
                    <select id="vaiTro" name="vaiTro" th:field="*{vaiTro}" class="form-select">
                        <option value="ADMIN" th:if="${nd.vaiTro != 'ADMIN'}">Admin</option>
                        <option value="ADMIN" th:if="${nd.vaiTro == 'ADMIN'}" selected>Admin</option>
                        <option value="OWNER" th:if="${nd.vaiTro != 'ONWER'}">Owner</option>
                        <option value="OWNER" th:if="${nd.vaiTro == 'ONWER'}" selected>Owner</option>
                        <option value="CUSTOMER" th:if="${nd.vaiTro != 'CUSTOMER'}">Customer</option>
                        <option value="CUSTOMER" th:if="${nd.vaiTro == 'CUSTOMER'}" selected>Customer</option>
                    </select>
                    <label for="vaiTro">Vai Trò</label>
                    <p th:if="${#fields.hasErrors('vaiTro')}" th:errorclass="text-danger" th:errors="*{vaiTro}" />
                </div>
                <div class="form-floating mb-3 mt-3">
                    <input type="file" id="file" class="form-control" name="file" th:value="*{file}" placeholder="Nhập ảnh"/>
                    <label for="file">Ảnh</label>
                    <img th:if="${nd.avatar != null}" th:src="${nd.avatar}" width="120" />
                </div>
                
                <div class="form-floating mb-3 mt-3">
                    <button type="submit" class="btn btn-info" th:if="${nd.id != null}"> Cập nhật</button>
                    <button type="submit" class="btn btn-info" th:if="${nd.id == null}"> Thêm</button>
                </div>
            </form>
        </section>

        <footer th:replace="../layout/footer :: html_footer"/>
    </body>
</html>
