<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="../layout/header :: html_head"/>
    <body style="min-height: 100vh;
    display: flex;
    flex-direction: column;">
        <div th:replace="../layout/header :: html_nav"/>

        <section class="container" th:with="action='/quanan/admin/addorupdatehoadon'">
            <form method="post" th:action="${action}" th:object="${hd}">
                <input type="hidden" name="id" th:value="*{id}"/>
                <input type="hidden" name="createdDate" th:value="*{createdDate}"/>
                <div class="form-floating mb-3 mt-3">
                    <select id="idNguoiDung" name="idNguoiDung" th:field="*{idNguoiDung}" class="form-select">
                        <th:block th:each="nd : ${nds}">
                            <option th:if="${hd.idNguoiDung != null && nd.id == hd.idNguoiDung.id}" th:value="${nd.id}" th:text="${nd.lastName + ' ' + nd.firstName}" selected></option>
                            <option th:if="${hd.idNguoiDung != null && nd.id != hd.idNguoiDung.id}" th:value="${nd.id}" th:text="${nd.lastName + ' ' + nd.firstName}"></option>
                            <option th:if="${hd.idNguoiDung == null}" th:value="${nd.id}" th:text="${nd.lastName + ' ' + nd.firstName}"></option>
                        </th:block>
                    </select>
                    <label for="idNguoiDung">Người đặt món</label>
                    <p th:if="${#fields.hasErrors('idNguoiDung')}" th:errorclass="text-danger" th:errors="*{idNguoiDung}" />
                </div>
                <div class="form-floating mb-3 mt-3">
                    <button type="submit" class="btn btn-info" th:if="${hd.id != null}"> Cập nhật</button>
                    <button type="submit" class="btn btn-info" th:if="${hd.id == null}"> Thêm</button>
                </div>
            </form>
        </section>

        <footer th:replace="../layout/footer :: html_footer"/>
    </body>
</html>
