<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="../layout/header :: html_head"/>
    <body>
        <div th:replace="../layout/header :: html_nav"/>

        <section class="container" th:with="action='/quanan/admin/addorupdatefood'">
            <form method="post" th:action="${action}" th:object="${food}" enctype="multipart/form-data">
                <input type="hidden" name="id" th:value="*{id}"/>
                <input type="hidden" name="createdDate" th:value="*{createdDate}"/>
                <input type="hidden" name="image" th:value="*{image}"/>
                <input type="hidden" name="active" th:value="*{active}"/>
                <input th:if="${food.idChiNhanh != null}" type="hidden" name="idChiNhanh" th:value="*{idChiNhanh.id}"/>
                <input th:if="${food.idChiNhanh == null}" type="hidden" name="idChiNhanh" th:value="*{idChiNhanh}"/>
                <p th:if="${#fields.hasErrors('*')}" th:errorclass="text-danger" th:errors="*{*}" />
                <div class="form-floating mb-3 mt-3">
                    <input type="text" id="name" class="form-control" name="name" th:value="*{name}" placeholder="Nhập tên món ăn" required/>
                    <label for="name">Tên món ăn</label>
                    <p th:if="${#fields.hasErrors('name')}" th:errorclass="text-danger" th:errors="*{name}" />
                </div>
                <div class="form-floating mb-3 mt-3">
                    <input type="number" id="soLuong" class="form-control" name="soLuong" th:value="*{soLuong}" placeholder="Nhập số lượng" required/>
                    <label for="soLuong">Số lượng</label>
                    <p th:if="${#fields.hasErrors('soLuong')}" th:errorclass="text-danger" th:errors="*{soLuong}" />
                </div>
                <div class="form-floating mb-3 mt-3">
                    <input type="number" id="price" class="form-control" name="price" th:value="*{price}" placeholder="Nhập giá" required/>
                    <label for="price">Giá</label>
                    <p th:if="${#fields.hasErrors('price')}" th:errorclass="text-danger" th:errors="*{price}" />
                </div>
<!--                <div class="form-floating mb-3 mt-3">
                    <select id="idChiNhanh" name="idChiNhanh" th:field="*{idChiNhanh}" class="form-select">
                        <th:block th:each="cn : ${cns}">
                            <option th:if="${food.idChiNhanh != null && cn.id == food.idChiNhanh.id}" th:value="${cn.id}" th:text="${cn.diaChi}" selected></option>
                            <option th:if="${food.idChiNhanh != null && cn.id != food.idChiNhanh.id}" th:value="${cn.id}" th:text="${cn.diaChi}" ></option>
                            <option th:if="${food.idChiNhanh == null}" th:value="${cn.id}" th:text="${cn.diaChi}"></option>
                        </th:block>
                    </select>
                    <label for="idChiNhanh">Chi nhánh</label>
                    <p th:if="${#fields.hasErrors('idChiNhanh')}" th:errorclass="text-danger" th:errors="*{idChiNhanh}" />
                </div>-->
                <div class="form-floating mb-3 mt-3">
                    <select id="idLoai" name="idLoai" th:field="*{idLoai}" class="form-select">
                        <th:block th:each="c : ${cates}">
                            <option th:if="${food.idLoai != null && c.id == food.idLoai.id}" th:value="${c.id}" th:text="${c.name}" selected></option>
                            <option th:if="${food.idLoai != null && c.id != food.idLoai.id}" th:value="${c.id}" th:text="${c.name}" ></option>
                            <option th:if="${food.idLoai == null}" th:value="${c.id}" th:text="${c.name}"></option>
                        </th:block>
                    </select>
                    <label for="idLoai">Loại đồ ăn</label>
                    <p th:if="${#fields.hasErrors('idLoai')}" th:errorclass="text-danger" th:errors="*{idLoai}" />
                </div>
                <div class="form-floating mb-3 mt-3">
                    <input type="file" id="file" class="form-control" name="file" th:value="*{file}" placeholder="Nhập ảnh"/>
                    <label for="file">Ảnh</label>
                    <img th:if="${food.image != null}" th:src="${food.image}" width="120" />
                </div>
                <div class="form-floating mb-3 mt-3">
                    <button type="submit" class="btn btn-info" th:if="${food.id != null}"> Cập nhật</button>
                    <button type="submit" class="btn btn-info" th:if="${food.id == null}"> Thêm</button>
                </div>
            </form>
        </section>

        <footer th:replace="../layout/footer :: html_footer"/>
    </body>
</html>
