<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="../layout/header :: html_head"/>
    <body style="min-height: 100vh;
    display: flex;
    flex-direction: column;">
        <div th:replace="../layout/header :: html_nav"/>

        <section class="container">
            <a th:href="@{/admin/addorupdatefood}" title="Thêm loại" class="btn btn-outline-success">+</a>
            <ul class="pagination mt-1" th:if="${pages > 1}">
                <li class="page-item"><a class="page-link" th:href="@{/admin/food}">Tất cả</a></li>

                <li th:each="i : ${#numbers.sequence(1, pages)}" class="page-item"><a class="page-link" th:href="${'/quanan/admin/food?page=' + i}" th:text="${i}"></a></li>

            </ul>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>ID</th>
                        <th>Tên loại</th>
                        <th>Số lượng</th>
                        <th>Giá</th>
                        <th class="pc-toggle">Loại</th>
                        <th class="pc-toggle">Ngày tạo</th>
                        <th class="pc-toggle">Đang hoạt động</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                <th:block th:each="f : ${foods}">

                    <tr th:with="updateStore=('/quanan/admin/addorupdatefood/' + ${f.id}), del=('/quanan/admin/deletefood/' + ${f.id} + '/')">
                        <td><img th:src="${f.image}" th:alt="${f.image}" width="120"/></td>
                        <td th:text="${f.id}"></td>
                        <td th:text="${f.name}"></td>
                        <td th:text="${f.soLuong}"></td>
                        <td th:text="${f.price}"></td>
                        <td class="pc-toggle" th:text="${f.idLoai.name}"></td>
                        <td class="pc-toggle" th:text="${f.createdDate}"></td>
                        <td class="pc-toggle" th:text="${f.active}"></td>
                        <td class="mobile-toggle">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" th:data-bs-target="${'#myModal-f' + f.id}">
                                Các thông tin khác
                            </button>

                            <!-- The Modal -->
                            <div class="modal fade" th:id="${'myModal-f' + f.id}">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h4 class="modal-title">Các thông tin khác</h4>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                        </div>

                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            <table class="table table-hover">
                                                <tr>
                                                    <td>Loại</td>
                                                    <td>Ngày tạo</td>
                                                    <td>Đang hoạt động</td>
                                                </tr>
                                                <tr>
                                                    <td th:text="${f.idLoai.name}"></td>
                                                    <td th:text="${f.createdDate}"></td>
                                                    <td th:text="${f.active}"></td>
                                                </tr>
                                            </table>
                                        </div>

                                        <!-- Modal footer -->
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Đóng</button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <a th:href="${updateStore}" class="btn btn-success" >Cập nhật</a>
                        </td>
                        <td>
                            <button th:data-id="${f.id}" class="btn btn-danger" th:attr="onclick=|del('${del}')|">Xóa</button>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </section>
        <footer th:replace="../layout/footer :: html_footer"/>

        <style>
            @media screen and (max-width: 1103px) {
                /*                .mobile-toggle {
                                    display: block;
                                }*/
                .pc-toggle{
                    display: none;
                }
            }
            @media screen and (min-width: 1104px) {
                .mobile-toggle {
                    display: none;
                }
            }
        </style>

        <script type="text/javascript" th:src="@{/js/del.js}"></script>
    </body>
</html>
