<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="../layout/header :: html_head"/>
    <body>
        <div th:replace="../layout/header :: html_nav"/>

        <section class="container">
            <h1 th:text="${'Chào mừng ' + #authentication.principal.username} + ' đã đến với trang quản trị'"></h1>
        </section>
        <footer th:replace="../layout/footer :: html_footer"/>
    </body>
    
</html>
